[submodule "rvm"]
	path = rvm
	url = git://github.com/fnichol/chef-rvm.git
[submodule "ubuntu"]
	path = ubuntu
	url = git://github.com/brodock/chef-ubuntu.git
[submodule "git"]
	path = git
	url = git://github.com/opscode-cookbooks/git.git
[submodule "runit"]
	path = runit
	url = git://github.com/opscode-cookbooks/runit.git
[submodule "apt"]
	path = apt
	url = git://github.com/opscode-cookbooks/apt.git
[submodule "build-essential"]
	path = build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
