[submodule "rvm"]
	path = rvm
	url = git://github.com/fnichol/chef-rvm.git
[submodule "ubuntu"]
	path = ubuntu
	url = git://github.com/brodock/chef-ubuntu.git
[submodule "git"]
	path = git
	url = git://github.com/opscode-cookbooks/git.git
[submodule "runit"]
	path = runit
	url = git://github.com/opscode-cookbooks/runit.git
[submodule "apt"]
	path = apt
	url = git://github.com/opscode-cookbooks/apt.git
[submodule "build-essential"]
	path = build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "logrotate"]
	path = logrotate
	url = git://github.com/opscode-cookbooks/logrotate.git
[submodule "vim"]
	path = vim
	url = git://github.com/opscode-cookbooks/vim.git
[submodule "chef-client"]
	path = chef-client
	url = git://github.com/opscode-cookbooks/chef-client.git
[submodule "dpkg_packages"]
	path = dpkg_packages
	url = git://github.com/brodock/chef-dpkg_packages.git
[submodule "brightbox"]
	path = brightbox
	url = git://github.com/brodock/chef-brightbox.git
[submodule "ohai"]
	path = ohai
	url = git://github.com/opscode-cookbooks/ohai.git
[submodule "imagemagick"]
	path = imagemagick
	url = git://github.com/opscode-cookbooks/imagemagick.git
[submodule "user"]
	path = user
	url = git://github.com/fnichol/chef-user.git
[submodule "mysql"]
	path = mysql
	url = git://github.com/brodock/mysql.git
[submodule "redis"]
	path = redis
	url = git://github.com/phlipper/chef-redis.git
[submodule "collectd"]
	path = collectd
	url = git://github.com/brodock/chef-collectd.git
[submodule "collectd_plugins"]
	path = collectd_plugins
	url = git://github.com/coderanger/chef-collectd_plugins.git
