[submodule "rvm"]
	path = rvm
	url = git://github.com/fnichol/chef-rvm.git
[submodule "ubuntu"]
	path = ubuntu
	url = git://github.com/brodock/chef-ubuntu.git
[submodule "git"]
	path = git
	url = git://github.com/opscode-cookbooks/git.git
[submodule "runit"]
	path = runit
	url = git://github.com/opscode-cookbooks/runit.git
[submodule "apt"]
	path = apt
	url = git://github.com/opscode-cookbooks/apt.git
[submodule "build-essential"]
	path = build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "logrotate"]
	path = logrotate
	url = git://github.com/opscode-cookbooks/logrotate.git
[submodule "vim"]
	path = vim
	url = git://github.com/opscode-cookbooks/vim.git
[submodule "nginx"]
	path = nginx
	url = git://github.com/brodock/chef-nginx.git
[submodule "apache2"]
	path = apache2
	url = git://github.com/opscode-cookbooks/apache2.git
[submodule "rvm_passenger"]
	path = rvm_passenger
	url = git://github.com/brodock/chef-rvm_passenger.git
[submodule "ohai"]
	path = ohai
	url = git://github.com/opscode-cookbooks/ohai.git
[submodule "webapp"]
	path = webapp
	url = git://github.com/brodock/chef-webapp.git
[submodule "imagemagick"]
	path = imagemagick
	url = git://github.com/opscode-cookbooks/imagemagick.git
[submodule "mysql"]
	path = mysql
	url = git://github.com/opscode-cookbooks/mysql.git
[submodule "stompserver"]
	path = stompserver
	url = git://github.com/opscode-cookbooks/stompserver.git
[submodule "gitorious"]
	path = gitorious
	url = git://github.com/brodock/chef-gitorious.git
[submodule "user"]
	path = user
	url = git://github.com/fnichol/chef-user.git
[submodule "openssl"]
	path = openssl
	url = git://github.com/opscode-cookbooks/openssl.git
